{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" style="padding-top: 50px; padding-left: 25px; padding-right: 25px;">
        <p>Herzlichen Dank für deinen Tipp {{ name }}</p>
        <p>Bitte bringe Rambo bei nächster Gelegenheit 10€ mit</p>
    </div>  

    
{% endblock %}