{% extends 'base.html.twig' %}

{% block body %}

    
    
    
<div class="row" style="background-color:#E8E8E8;">
    <div class="col-xs-12 col-md-2">
        <img src="{{ asset('logo.png') }}" width=100px>
    </div>
    <div class="col-xs-12 col-md-10">
        <h1>FC AICH Expertentipp</h1>
        <h2>"SPASS AM FUSSBALL"</h2>    
    </div>
</div>

<div class="row" style="padding-top: 50px; padding-left: 25px; padding-right: 25px;">
    <p>Herzlich willkommen zum 12.Aicher Expertentipp</p>
</div>

<div class="row" style="padding-bottom: 50px; padding-left: 25px; padding-right: 25px;">    
    <form>
      <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="email" class="form-control" id="exampleInputName" placeholder="Name">
      </div>    
      <div class="form-group">
        <label for="exampleInputEmail">E-Mail Adresse</label>
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
      </div>            
        <button type="submit" class="btn btn-default">Zur Tippabgabe</button>
    </form>
    
</div>    

{% endblock %}