{% extends 'base.html.twig' %}

{% block custom_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

{% endblock %}            

{% block body %}
    <p>Hier sind die Antworten zu "{{ question.question }}"</p>

    <p>
    
        {% for answer in answers %}
            {% if(answer.user.complete == true) %}
                
            <div class="row"> 
                <div class="col-xs-12 col-md-4">
                    <a href="{{ path('userDetail', { 'userId': answer.user.id }) }}">{{ answer.user.name }}</a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ answer.answer }}" disabled>
                </div>
            </div>
                <hr>                
                
                
            {% endif %}
        {% endfor %}   
    
    <br><hr>
</p>     

{% endblock %}


