body{
    background-color: #E8E8E8;
    color: #000000;
    font-size: 14px;
    padding-top: 50px;
}

.custom {
    padding:5px;
    min-width:40px;
}

.fa-check {
    color: greenyellow;
}

.fa-question-circle-o {
    color: #323296;
}

.fa-times {
    color: red;
}

.fa-star-half-o {
    color: #323296;
}